%tr
  %td
    %p.font-16 Subtotal:
  %td
    %p.font-16= price_euro(subtotal_price_sum)
%tr
  %td
    %p.font-16 Delivery:
  %td
    %p.font-16= price_euro(current_order.delivery.price)
%tr
  %td
    %p.font-16 Coupon:
  %td
    %p.font-16= price_euro(subtotal_price_sum - item_total_price)
%tr
  %td
    %strong.font-18 Order Total:
  %td
    %strong.font-18= price_euro(item_total_price + current_order.delivery.price)