%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li{"data-slide-to" => "0", "data-target" => "#slider"}
      %li{"data-slide-to" => "1", "data-target" => "#slider"}
      %li{"data-slide-to" => "2", "data-target" => "#slider"}
    .carousel-inner{role: "listbox"}
      = render partial: 'home/top_books'
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1=t('home_page.welcome')
    .mb-res-50
      %p=t('home_page.under_welcome')
    %a{href: "/books", class: "button btn btn-default"}=t('home_page.get_started')
  .mb-35
    %h3=t('home_page.best_sellers')
    .row
      = render partial: 'home/best_selers', collection: @top_books, as: :book
