.col-xs-12.col-md-4
  %p.h1.in-gold-500.mt-10= @book.price
.col-xs-5.col-md-3
  .input-group.general-position
    %a.input-link{href: "#"}
      %i.fa.fa-minus.line-height-40
    = text_field_tag "count_books", "", class: 'form-control quantity-input input-count-book', value: 1
    %a.input-link{href: "#"}
      %i.fa.fa-plus.line-height-40
.col-xs-7.col-md-5
  %button.btn.btn-default.pull-right.general-position Add to Cart