= form_for item, method: :post do |form|
.col-xs-12.col-md-4
  %p.h1.in-gold-500.mt-10= @book.price
.col-xs-5.col-md-3
  .input-group.general-position
    %a.input-link{href: ""}
      %i.fa.fa-minus.line-height-40
    -# = form.hidden_field :book_id, value: @book.id
    -# = form.text_field "count_books", value: 1, class: 'form-control quantity-input'
    %a.input-link{href: ""}
      %i.fa.fa-plus.line-height-40
.col-xs-7.col-md-5
  %button.btn.btn-default.pull-right.general-position Add to Cart