:plain
  $('#books').append("#{ j(render 'book')}");
  $('#div_next_link').html("#{j(render 'next_link')}");
  if (!$('#next_link').length) { $('#div_next_link').remove(); }
  // $(document).ready(function(){
  //   $('#div_next_link').remove(); 
  // });
  // $('.text-center').hasClass('disabled'){$('#div_next_link').remove(); }
  //$(window).load(function(){ 
  // $('#div_next_link').remove();
  //});