%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            %a.nav-link{href: "/"}=t('header_footer.home')
          %li
            %a.nav-link{href: "/books"}=t('header_footer.shop')
          - if user_signed_in?
            %li
              %a.nav-link{href: "/orders"}=t('header_footer.orders')
            %li
              %a.nav-link{href: "/settings"}=t('header_footer.settings')
      .col-sm-3
        %p.general-nav-mail=t('header_footer.email')
        %p.general-nav-number=t('header_footer.phone_num')
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "https://www.facebook.com/"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "https://www.twitter.com/"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "https://www.plus.google.com/"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "https://www.instagram.com/"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
