%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand=t('bookstore')
    %a.shop-link.pull-right.hidden-xs{href: "/cart"}
      %span.shop-icon
        %span.shop-quantity= current_order&.order_items&.count
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      -# %div= "Controller name: #{controller_name}"
      -# %div= "Action name: #{action_name}"
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a{href: "/"}=t('home')
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
            %ul.dropdown-menu
              %li
                %a{href: "/books"}=t('all')
              %li
                %a.collapse-link{href: "/books?category_id=1"}=t('mobile')
              %li
                %a.collapse-link{href: "/books?category_id=2"}=t('photo')
              %li
                %a.collapse-link{href: "/books?category_id=3"}=t('web')
          - unless user_signed_in?
            %li
              %a{href: "/users/sign_in"}=t('log_in')
            %li
              %a{href: "/users/sign_up"}=t('sign_up')
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}=t('my_account')
              %ul.dropdown-menu
                %li
                  %a.collapse-link{href: "/orders"} Orders
                %li
                  %a.collapse-link{href: "/settings"} Settings
                %li.divider{role: "separator"}
                %li
                  = link_to t('log_out'), destroy_user_session_path, method: :delete
