= simple_form_for @address_billing, as: :address, url: settings_addresses_path, method: :patch  do |form|
  = form.input :address_type, label: false, input_html: { value: @address_billing.address_type, type: 'hidden' }
  = render 'form', f: form