= simple_form_for @address_shipping, as: :address, url: settings_addresses_path, method: :patch do |form|
  = form.hidden_field :address_type, value: @address_shipping.address_type
  = render 'form', f: form